<p>Congratz, <%%= @<%= resource_name %>.<%= goma_config.authentication_keys.first %> %></p>

<p>You have successfully activated your account</p>

<p>To login to the site, just follow the link below:</p>
<%%= link_to 'Login', new_session_url %>

