<p>Hello, <%%= @<%= resource_name %>.<%= goma_config.email_attribute_name %> %></p>

<p>You can confirm your account email through the link below:</p>

<p><%%= link_to 'Comfirm my account email', confirm_user_url(@<%= resource_name %>.<%= goma_config.confirmation_token_to_send_attribute_name %>) %></p>
