<h1>New user</h1>

<%= render 'form' %>
  * If you signed up with wrong email address, please enter correct email address and username and password your entered when you signed up and click 'Sign up' again.

<%= link_to 'Back', users_path %>
