<h1>Resend activation instructions</h1>

<%%= form_tag(:<%= name.underscore.pluralize %>_url, method: :post) do %>
  <div class="field">
    <%%= label_tag :<%= goma_config.authentication_keys.join('_or_') %> %><br>
    <%%= text_field_tag :identifier %>
  </div>
  <div class="actions">
    <%%= submit_tag "Resend activation instructions" %>
  </div>
<%% end %>

